{% assign step = 'shipping_method' %}
<div class="step shipping_method" data-step="shipping_method">
  <form class="edit_checkout animate-floating-labels shipping_method_form" data-shipping-method-form="true" action="/6727991369/checkouts/04528a9996ca1efc5ea9aadeb1bfbbff" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="fzAShKB/XxMJ/GXkyJ+tSeyW2XGU8lDZvU1lTe539X8x1ie4bkDTMOjMhH6FjWcikenR5aQM2iOpBwUOM2QmSA==">
    <input type="hidden" name="previous_step" id="previous_step" value="shipping_method">
    <input type="hidden" name="shipping_price" id="shipping_price_input" value="" >
    <input type="hidden" name="step" value="payment_method">
    <div class="step__sections">
      <div class="section section__content">
        <div class="content-box">
          <div role="grid" class="content-box__row content-box__row--tight-spacing-vertical">
            <div role="row" class="review-block">
              <div class="review-block__inner">
                <div role="gridcell" class="review-block__label">
                  Contact
                </div>
                <div role="gridcell" class="review-block__content review-block__content_email">
                </div>
              </div>
              <div role="gridcell" class="review-block__link link_small">
                  <span aria-hidden="true">Change</span>
                  <span class="visually-hidden">Change contact information</span>
              </div>
            </div>
            <div role="row" class="review-block">
              <div class="review-block__inner">
                <div role="gridcell" class="review-block__label">
                  Ship to
                </div>
                <div role="gridcell" class="review-block__content review-block__content_address">

                </div>
              </div>
              <div role="gridcell" class="review-block__link link_small">
                  <span aria-hidden="true">Change</span>
                  <span class="visually-hidden">Change shipping address</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section section--shipping-method">
        <div class="section__header">
          <h2 class="section__title" id="main-header" tabindex="-1">
            Shipping method
          </h2>
        </div>
        <div class="shipping_method_loader" ><img src="//cdn.shopify.com/s/files/1/0067/2799/1369/t/38/assets/bc-sf-filter-loading.gif?56731"><br></div>
        <div class="section__content">
          <fieldset class="content-box" data-shipping-methods="">
            <legend class="visually-hidden">Choose a shipping method</legend>
            <div id="shipping_methods">

              </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="step__footer" data-step-footer="">
      <button name="button" type="button" id="continue_button_payment" class="step__footer__continue-btn btn " data-trekkie-id="continue_to_payment_method_button" aria-busy="false">
        <span >
          Continue to payment method
        </span>
        <svg class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button" aria-hidden="true" focusable="false">
          <use xlink:href="#spinner-button"></use>
        </svg>
      </button>
      <span class="return_to_custmr_info">
      <svg focusable="false" aria-hidden="true" class="icon-svg icon-svg--color-accent icon-svg--size-10 previous-link__icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
        <path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4"></path>
      </svg>
      Return to customer information</span>
    </div>
    <input type="hidden" name="checkout[client_details][browser_width]" value="1354"><input type="hidden" name="checkout[client_details][browser_height]" value="557"><input type="hidden" name="checkout[client_details][javascript_enabled]" value="1"><input type="hidden" name="checkout[client_details][color_depth]" value="24"><input type="hidden" name="checkout[client_details][java_enabled]" value="false"><input type="hidden" name="checkout[client_details][browser_tz]" value="-330">
  </form>
</div>
